!!!
%html.h-full.bg-gray-50
  %head
    %title=full_title(yield(:title))
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{charset: "utf-8"}
    = csrf_meta_tags
    = csp_meta_tag
    = link_to "sample_app", '#', id: "logo"
    = yield :head

    %link{rel: "manifest", href: "/manifest.json"}
    %link{rel: "icon", href: "/icon.png", type: "image/png"}
    %link{rel: "icon", href: "/icon.svg", type: "image/svg+xml"}
    %link{rel: "apple-touch-icon", href: "/icon.png"}
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.h-full
    = render 'layouts/header'
    %div.container
      - flash.each do |message_type, msg|
        %div{class: "alert alert-#{message_type}" }
          = msg
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
